<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ email }}</p>
</div>
<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis augue sapien. Proin elementum varius odio eu mollis. Curabitur elementum dolor non quam interdum faucibus. Nulla mattis tempor nisi, eu posuere enim semper vel. Praesent sit amet tortor a eros consectetur facilisis. Mauris non mattis erat, vel porttitor mi. Aliquam vel posuere purus. Mauris in metus porttitor, dictum purus quis, vulputate est. Suspendisse et vehicula mauris. Sed in mauris finibus, rhoncus turpis vel, lobortis lacus. Nunc fringilla condimentum velit a rutrum. Maecenas eget vestibulum nibh. Suspendisse tempus pellentesque mi, ac porttitor orci placerat non. Mauris nulla tortor, dignissim eget ipsum ullamcorper, euismod maximus sem. Curabitur libero lorem, lobortis non justo ut, cursus accumsan nulla. Suspendisse potenti.</p>
</article>
